@media screen and ( max-width: 1200px  )
  .container  
    max-width: 960px 
  .slider
    width: 590px
  .swiper
    &-slide
      &__img
        height: 100%    
@media screen and ( max-width: 992px  )
  .container
    max-width: 760px
  // СЕКЦИЯ HEADER
  .navbar
    &__search
      margin-left: 47px
    &-menu
      &__link
        font-size: 12px
        line-height: 15px
  .logo
    width: 142px  
  .search
    &__input
      width: 341px 
  // СЕКЦИЯ SLIDER
  .hotel
    padding-bottom: 60px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
  .slider
    width: 100%  
  .swiper
    &-container
      max-width: 100%
    &-slide
      &__img
        width: 100%
        object-fit: cover
  .booking
    width: 340px
    padding: 29px 22px 26px 23px
    &-wrapper
      flex-direction: row
  .map
    width: 340px
@media screen and ( max-width: 768px )
  .container
    max-width: 700px
    width: 100%
  
  .navbar
    &-top
      padding: 30px 0
    
    &-menu
      padding: 21px 0
    &-bottom
      &__container
       max-width: 675px   
  .logo
    width: 132px
  .breadcrumb-list
    padding-top: 19px
  // СЕКЦИЯ SLIDER
  .hotel
    padding-top: 23px
    &-stars
      &__wrapper
        max-width: 49px
    &-info
      &__rating
        margin-bottom: 1px
      &__offer
        margin-top: 5px
  .offer
    padding-top: 3px
   

@media screen and ( max-width: 710px  )
  .container
    max-width: 560px
  
  
  .navbar
    &-menu
      padding: 20px 0
      &__link  
        font-size: 10px
        line-height: 12px
    &__search
      margin-left: auto 
    &-top
    padding: 30px 0
    &__search, &-user, &-menu
      display: none   
  .logo
    width: 122px
  .user
    &__img
      width: 36px
      height: 36px
    &__name
      margin-left: 12px
      font-size: 12px
  .menu
    &-button
      width: 16px
      height: 11px
      padding: 0
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
      border: none
      cursor: pointer
      background-color: $light
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  // СЕКЦИЯ SLIDER
  .hotel
    padding-bottom: 40px
    &-name
      flex-basis: 100%
    &-stars
      flex-basis: auto
    &-grid
      padding-top: 18px
    &__slider
      margin-bottom: 20px
    &__booking
      margin-bottom: 20px
    &-info
      &__name
        margin-top: 10px
      &__text
        width: 100%
      &__rating
        display: none
      &__wrapper
        justify-content: space-between
  .offer
    order: -1
    margin: 0
  .slider
    height: 320px
    &-button
      width: 12px
      height: 12px
      &_prev
        left: 6px
        background-image: url('../img/arrow-prev-mini.svg')
      &_next
        right: 6px
        background-image: url('../img/arrow-next-mini.svg')
  .booking
    width: 100%
    &-wrapper
      flex-wrap: wrap
  .map
    max-width: 560px
    width: 100%
    
        
@media screen and ( max-width: 576px )
  .container
    max-width: 460px
  .logo
    width: 99px
  .slider
    height: 250px

@media screen and ( max-width: 480px  )
  .container
    max-width: 280px
  .navbar
    &-top
      padding: 24px 0px
  .breadcrumb-list
    padding-top: 24px
  .hotel
    padding-top: 4px
    &-info
      &__stars
        margin-right: 17px
        max-width: 47px
        flex-basis: 100%
  .slider
    height: 179px
.map
  &__iframe
    height: 173px
