.hotel
  padding-top: 13px
  padding-bottom: 70px
  &-info
    display: flex
    align-items: center
    justify-content: space-between
    &__wrapper
      display: flex
      flex-wrap: wrap
      align-items: center
    &__offer
      margin-left: 14px
      margin-top: 4px
    &__name
      margin-top: 4px
      margin-bottom: 0 
    &__description
      font-size: 12px
      line-height: 15px
      margin: 0  
  &-name  
    font-weight: bold
    font-size: 24px
    line-height: 30px
  
  &-stars
    flex-basis: 100%
.offer
  padding: 4px 9px
  background-color: $primary
  color: $light
  border-radius: 3px
  font-size: 10px
  line-height: 13px
.rating
  max-width: 65px
  min-height: 45px
  text-align: center
  border-radius: 4px
  background-color: $primary
  color: $light
  &__text
    font-size: 8px
    line-height: 10px
    font-weight: 600
    
  &__counter
    font-weight: bold
    font-size: 14px
    line-height: 18px
    &__lit
      font-size: 10px
      line-height: 13px
